.app {
  margin: 2rem;
  margin-left: 5rem;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.counter {
  display: flex;
  margin-bottom: 2rem;
}

.counter h1 {
  margin: 1rem;
  font-size: 5rem;
  color: #005870;
}
#counter-h2 {
  font-size: 3rem;
  color: #4f5663;
  margin-left: 1.5rem;
  margin-bottom: 0;
}

.btn {
  font-size: 2rem;
  background-color: rgb(207, 207, 207);
  width: 4rem;
  margin: 1rem;
}

.add-btn {
  margin: 1rem;
  padding: 0.3rem;
  font-size: 1.5rem;
  background-color: rgb(207, 207, 207);
}

#todo-form {
  font-size: 2rem;
}
.li {
  display: flex;
}
.complete,
.delete {
  display: inline-block;
  background-color: rgb(202, 84, 84);
  font-size: 1rem;
}
.complete {
  background-color: rgb(104, 226, 104);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
